header {
  font-size: 20px;
  font-family: monospace;
  margin:auto auto;
}
h1 {
  margin-left: 40px;
}
p {
  width: 300px;
  font-size: 18px;
  border-left: 2px solid black;
  padding-left: 20px;
  margin: 15px 0px 0px 40px;
}
