body {
  width: 40%;
}

h1{
  font-family: Arial, serif;
}

.paragraph {
  display: block;
}

img {
  margin: 0 15px 15px 0;
}

.left {
  float: left;
}

.right {
  float: right;
}


p {
  border-bottom: 2px solid black;
  padding: 0 0 15px 0;
  text-align: justify;
  margin: 15px 0 0 0;
}
