body {
  color: #2C3539;
  margin: 0px auto;
  width: 100%;
  font-family: "Raleway","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
}

.header {
  display: flex;
  align-items: flex-end;
  background-image: url(anakin.png);
  background-size: cover;
  color: black;
  height: 400px;
}

.header h1, h2 {
  margin: 0;
  width: 100%;
  color: black;
  padding: 0px;
  font-weight: bolder;
}

.header h1 {
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 8%;
}

.header h2 {
  font-size: 35px;
  line-height: 35px;
}

.text-on-image {
  margin: 0 20%;
  font-family: 'Old Standard TT', serif;
}

main {
  margin: 0 20%;
}

.intro {
  font-size: 20px;
  line-height: 40px;
  margin: 60px auto;
}

.important {
  font-weight: bold;
}

ul {
  list-style-type: square;
}

blockquote {
  background: #2C3539;
  margin: 1.5em -35px;
  quotes: "\201C""\201D";
  position: relative;
  font-family: 'Old Standard TT', serif;
  color: white;
}
blockquote::before {
  position: absolute;
  top: -40px;
  left: 0;
  content: open-quote;
  font-size: 128px;
}
blockquote p {
  padding: 20px 0;
  display: block;
  font-size: 42px;
  font-weight: bold;
  margin: 0 10%;
}

.body-text h3 {
  font-stretch: expanded;
  text-transform: uppercase;
  margin: 5% auto;
}

.body-text h4 {
  line-height: 30px;
  font-weight: bold;
  margin: 0 auto 0 auto;
}

.body-text h5 {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin: 0 auto 6% auto;
}

.body-text p, ul {
  font-size: 16px;
  line-height: 30px;
  margin: 5% auto;
}

hr {
  height: 4px;
  background: #2C3539;
  margin: auto -35px;
}
