<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reddit App</title>
</head>
<body>
<a th:href="@{/posts/add}" href="http://localhost:8080/posts/add">Add new post</a>
<h1>Posts</h1>
<table>
    <thead>
    <th>Date and time</th>
    <th>Score</th>
    <th>Actions</th>
    <th>Content</th>
    </thead>
    <tbody>
    <tr th:each="post:${posts}">
        <td th:text="${post.getFormattedTimestamp()}">2016-12-23</td>
        <td th:text="${post.score}">0</td>
        <td>
            <a th:href="@{'/posts/' +${post.id} + '/upvote'}">+</a>
            <a th:href="@{'/posts/' +${post.id} + '/downvote'}">-</a></td>
        <td th:text="${post.content}">first</td>
    </tr>
    </tbody>
</table>
</body>
</html>