html {
  box-sizing: border-box;
  background-color: rgba(246,246,246,1);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
}

header {
  width: 100%;
  height: 80px;
  position: relative;
  margin: 0;
  overflow: visible;
  z-index: 1;
  background: linear-gradient(to top, rgba(246,246,246,1) 0%, rgba(254,254,254,1) 55%, rgba(254,254,254,1) 100%);
}

ul {
  list-style-type: none;
  padding: 0;
}

header ul {
  margin: 0;
  height: 40px;
}

header ul:first-child {
  float: right;
  margin-left: 160px;
}

header ul:nth-child(2) {

  margin-left: 160px;
  margin-top: 40px;
  position: absolute;
  padding-top: 16px;
}

header ul:nth-child(3) {
  margin-top: 40px;
  position: absolute;
  margin-left: 260px;
  padding-top: 12px;
  bottom: 0;
  right: 0;
}

header ul li {
  display: inline-block;
  margin: 0;
  padding: 5px;
}

header ul:nth-child(2) li, header ul:nth-child(3) li {
  border-left: 1px solid #8eb9ff;
  background: linear-gradient(white, #8eb9ff);
}

header ul:nth-child(2) li:first-child, header ul:nth-child(3) li:first-child {
  background: white;
  border-bottom: 1px solid white;
  z-index: 3;
}

header ul:nth-child(3) li:last-child {
  background: none;
}

.logo {
  width: 160px;
  display: block;
  position: absolute;
}

img {
  display: block;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  clear: both;
}

nav {
  min-width: 160px;
  margin: 0;
  padding-top: 80px;
  padding-left: 20px;
  flex: 0 1 auto;
  background-color: rgba(246,246,246,1);
}

nav li {
  padding: 2px;
}

a {
  padding-right: 5px;
}

.main-menu li, .other-menu li li, a, header li, .contents ol li, .contents ol li ul li  {
  color: #0645ad;
  text-decoration: none;
}

.main-menu li:hover, .other-menu li li:hover, a:hover, header li:hover, .contents ol li:hover, .contents ol li ul li:hover {
  text-decoration: underline;
}

.main-menu li:visited, .other-menu li li:visited, a:visited, header li:visited, .contents ol li:visited, .contents ol li ul li:visited {
  color: #0b0080;
}

.other-menu {
  margin-left: -10px;
  margin-top: 0;
}

.other-menu li li {
  margin-left: 10px;
}

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(147,147, 147, 0), rgba(147,147, 147, 0.75), rgba(147,147, 147, 0));
  margin-left: -20px;
}

main {
  flex: 1 1 50%;
  background-color: white;
  position: relative;
  border-top: 1px solid #8eb9ff;
  border-left: 1px solid #8eb9ff;
  border-bottom: 1px solid #8eb9ff;
  padding: 25px;
  font-size: 14px;
  line-height: 21px;
  color: #191919;
}

h1, h2 {
  font-family: serif;
  margin: 0 auto;
  font-weight: normal;
}

h1 {
  font-size: 28px;
}

h4 {
  font-weight: normal;
  margin: 0 0 15px 0;
  font-size: 12px;
}

.intro p:first-of-type {
  margin-left: 15px;
  margin-bottom: 15px;
  font-style: italic;
}

.ref {
  vertical-align: super;
  font-size: 10px;
}

.contents ol li ul {
  list-style-type: none;
}

main hr {
  border: 0;
  height: 1px;
  background: rgba(147, 147, 147, 1);
  margin: 5px 0;
}

main ul {
  list-style-type: disc;
  padding-left: 20px;
}

.short-bio {
  border: 1px solid silver;
  background-color: rgba(246,246,246,1);
  width: 300px;
  float: right;
  padding: 10px;
  margin: 0 10px 10px 10px;
}

.bio {
  float: right;
  width: 200px;
  margin: 0;
}

.short-bio h3, .centered{
  text-align: center;
  margin: 0 auto 5px auto;
}

h5, .bio {
  font-size: 12px;
  margin-top: 0;
  line-height: 18px;
}

.contents {
  width: 160px;
  padding: 5px 5px 5px 0;
  background-color: rgba(246,246,246,1);
  border: 1px solid silver;
  margin-bottom: 20px;
}

main p {
  margin-top: 0;
}

.box {
  float: right;
}

.figure {
  width: 232px;
  padding: 5px;
  background-color: rgba(246,246,246,1);
  border: 1px solid silver;
  margin: 0 0 20px 20px;
}

.figure p {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.small {
  width: 202px;
}

blockquote footer {
  margin: 15px 20px;
  font-size: 14px;
  background-color: white;
  padding-left: 25px;
}

footer {
  font-size: 11px;
  line-height: 16px;
  padding: 20px 0 20px 180px;
  background-color: rgba(246,246,246,1);
  margin: 0;
}

footer p {
  margin-top: 0;
}
