body {
  background-color: RGBA(221, 214, 204, 1.00);
  font-family: sans-serif;
  color: RGBA(77, 62, 98, 1.00);
  width: 820px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 40px;
  margin: 0;
  padding: 0;
}

.column {
  width: 400px;
  margin: 0;
}

.new-line {
  display: block;
}

div {
  margin: 3% 0;
  min-height: 75px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.sub {
  width: 70%;
}

.container div {
  margin:auto 0px;
}

input, select {
  width: 95%;
  height: 30px;
  padding: 0;
  vertical-align: middle;
}

.container input {
  width: 65px;
  align-items: stretch;
}

.container input, input, select {
  border-radius: 5px;
}

.sub {
  height: auto;
}

input[type=radio], input[type=checkbox] {
  width: 20px;
  margin: 0 6px 0 0;
}

p {
  color: grey;
}

h1, h2 {
    font-weight: normal;
    width: 90%;
}

h1 {
  font-size: 24px;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: white;
  background-color: RGBA(149, 138, 151, 1.00);
  padding: 3%;
  border-radius: 5px;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
}


.required-sign {
  color: red;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-indent: 6px;
  font-family: sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  text-indent: 6px;
  font-family: sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  text-indent: 6px;
  font-family: sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  text-indent: 6px;
  font-family: sans-serif;
}

.bottom {
  margin: 0;
}

.bottom div {
  margin-top: 0;
  min-height: auto;
}

textarea {
  width: 93%;
  height: 200px;
  overflow: auto;
  margin: 0;
  border-radius: 5px;
  padding: 10px;
}

button[type=reset], .button {
  border: 1px solid grey;
  font-size: 14px;
  text-transform: uppercase;
  color: RGBA(77, 62, 98, 1.00);
  padding: 10px 20px;
  margin: 0;
  border-radius: 5px;
  background: linear-gradient(white, silver);
}

.button {
  width: 145px;
}

button[type=submit] {
  border: 1px solid purple;
  font-size: 16px;
  text-transform: uppercase;
  color: silver;
  padding: 9px 60px;
  margin: 0;
  border-radius: 5px;
  background: linear-gradient( #4f314f, #402d40);
}

input[type=text], .button, textarea {
  margin-top: 5px;
}

select, #house > option:first-child {
  color: silver;
}

#house > option:nth-child(even),#house > option:nth-child(3) {
  color: black;
}
