<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../static/index.css" th:href="@{/index.css}"/>
<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Raleway" rel="stylesheet"/>
<head>
    <meta charset="UTF-8"/>
    <title>Calorie Counter</title>
</head>
<body>
<h1>Calorie Counter</h1>
<table>
    <thead>
    <th>Date</th>
    <th>Type</th>
    <th>Description</th>
    <th>Total Calories (KCal)</th>
    <th></th>
    </thead>
    <tbody>
    <tr th:each="meal:${meals}">
        <td th:text="${meal.date}">2016-12-23</td>
        <td th:text="${meal.type}">Lunch</td>
        <td th:text="${meal.description}">Pasta</td>
        <td th:text="${meal.calories}">800</td>
        <td>
            <a th:href="@{'/caloriecounter/edit/' + ${meal.id}}">Edit</a>
            <a th:href="@{'/caloriecounter/delete/' + ${meal.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<p th:text="'Total Calories: ' + ${calories}">Total Calories: 800</p>
<p th:text="'Number of meals: ' + ${mealCount}">Number of meals: 1</p>
<table>
    <thead>
    <th>Type of meal</th>
    <th>Count</th>
    <th>TotalCalories</th>
    </thead>
</table>
<a th:href="@{/caloriecounter/add}">
    <button class="newButton">Add new meal</button>
</a>
<div class="navigation">
    <div class="sub-container">
        <a th:if="${not meals.isFirst()}" href="#"
           th:href="@{'/caloriecounter/?page=0&amp;limit=' +  ${meals.getSize()}}">&lt;&lt;first</a>
        <a th:if="${meals.hasPrevious()}" href="#"
           th:href="@{'/caloriecounter/?page=' + ${meals.getNumber()-1} + '&amp;limit=' +  ${meals.getSize()}}"
           th:rel="${meals.previousPageable()}">&lt;previous</a>
        <a th:if="${meals.hasNext()}" href="#"
           th:href="@{'/caloriecounter/?page=' + ${meals.getNumber()+1} + '&amp;limit=' +  ${meals.getSize()}}"
           th:rel="${meals.nextPageable()}">next&gt;</a>
        <a th:if="${not meals.isLast()}" href="#"
           th:href="@{'/caloriecounter/?page=' + ${meals.getTotalPages()-1} + '&amp;limit=' +  ${meals.getSize()}}">last&gt;&gt;</a>
    </div>
    <div class="form-container">
        <form th:action="@{/caloriecounter/index}" method="post">
            <div>
                <label>Number of items to list:</label>
                <select name="limit" onchange="this.form.submit()">
                    <option>Select</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                </select>
            </div>
        </form>
        <form th:action="@{/caloriecounter/index}" method="post">
            <div>
                <label>Start date:</label>
                <input type="date" name="startdate" onchange="this.form.submit()"/>
            </div>
            <div>
                <label>End date:</label>
                <input type="date" name="enddate" onchange="this.form.submit()"/>
            </div>
        </form>
        <form th:action="@{/caloriecounter/index}" method="post">
            <div>
                <label>Meal type to list:</label>
                <select name="type" id="types" onchange="this.form.submit()">
                    <option>Select</option>
                    <option value="All">All</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Elevenses">Elevenses</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Snack">Snack</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Midnight Snack">Midnight Snack</option>
                </select>
            </div>
        </form>
    </div>
    <div>
        <a th:href="@{'/caloriecounter/index?page=0&amp;limit=15&amp;startdate=1900-01-01&amp;enddate=2100-01-01&amp;type=All'}">Reset</a>
    </div>
</div>
</body>
</html>