<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../static/index.css" th:href="@{/index.css}"/>
<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Raleway" rel="stylesheet"/>
<head>
    <meta charset="UTF-8"/>
    <title>Calorie Counter</title>
</head>
<body>
<h1>Calorie Counter</h1>
<table>
    <thead>
    <th>Date</th>
    <th>Type</th>
    <th>Description</th>
    <th>Total Calories (KCal)</th>
    <th></th>
    </thead>
    <tbody>
    <tr th:each="meal:${meals}">
        <td th:text="${meal.date}">2016-12-23</td>
        <td th:text="${meal.type}">Lunch</td>
        <td th:text="${meal.description}">Pasta</td>
        <td th:text="${meal.calories}">800</td>
        <td>
            <form name="edit" th:action="@{/caloriecounter/toEdit}" method="post">
                <button th:name="toEdit" th:value="${meal.id}">Edit</button>
            </form>
            <form name="delete" th:action="@{/caloriecounter/delete}" method="post">
                <button th:name="delete" th:value="${meal.id}">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<p th:text="'Total Calories: ' + ${calories}">Total Calories: 800</p>
<p th:text="'Number of meals: ' + ${mealCount}">Number of meals: 1</p>
<table>
    <thead>
    <th>Type of meal</th>
    <th>Count</th>
    <th>TotalCalories</th>
    </thead>
</table>
<a th:href="@{/caloriecounter/add}">
    <button class="newButton">Add new meal</button>
</a>
<div class="navigation">
    <div class="sub-container">
        <a th:if="${not meals.isFirst()}" href="#"
           th:href="@{'/caloriecounter/?page=0&amp;count=' +  ${meals.getSize()}}">&lt;&lt;first</a>
        <a th:if="${meals.hasPrevious()}" href="#"
           th:href="@{'/caloriecounter/?page=' + ${meals.getNumber()-1} + '&amp;count=' +  ${meals.getSize()}}"
           th:rel="${meals.previousPageable()}">&lt;previous</a>
        <a th:if="${meals.hasNext()}" href="#"
           th:href="@{'/caloriecounter/?page=' + ${meals.getNumber()+1} + '&amp;count=' +  ${meals.getSize()}}"
           th:rel="${meals.nextPageable()}">next&gt;</a>
        <a th:if="${not meals.isLast()}" href="#"
           th:href="@{'/caloriecounter/?page=' + ${meals.getTotalPages()-1} + '&amp;count=' +  ${meals.getSize()}}">last&gt;&gt;</a>
    </div>
    <div class="form-container">
        <form>
            <div>
                <label>Number of items to list:</label>
                <select>
                    <option>15</option>
                    <option>30</option>
                    <option>50</option>
                </select>
            </div>
            <div>
                <label>Start date:</label>
                <input type="date" name="startdate"/>
            </div>
            <div>
                <label>End date:</label>
                <input type="date" name="enddate"/>
            </div>
            <div>
                <label>Meal type to list:</label>
                <select id="types">
                    <option>Breakfast</option>
                    <option>Elevenses</option>
                    <option>Lunch</option>
                    <option>Snack</option>
                    <option>Dinner</option>
                    <option>Midnight Snack</option>
                </select>
            </div>
            <div>
                <button type="reset">Reset</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>